body{
    margin: 10;
    padding: 2px;
    font-family: Arial;
    line-height: 1.5;
    background-color: #8BA1BB;
   
 }

.grid > div{
    background-color: white; 
        margin: 2px 2px 2px 2px; 
        padding: 6px 1px 1px 1px;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
        overflow: visible;
    border: solid 1px white;
    text-align: center;
    
}
.grid{
    display: grid;
   grid-template-columns: 1.5fr 1fr 2.5fr 2.5fr 2.5fr 2.5fr 1.5fr;
   /*grid-template-columns: auto auto auto auto auto auto auto;*/
   /* grid-template-rows: 1fr 1.2fr 3fr 1fr 2fr 1fr 0.3fr;*/
    grid-template-rows: auto;
    grid-column-gap: 5px;
          
}
/* 


*/


.langues{
    background: goldenrod;
    grid-column-start: 1;
    grid-column-end:span 1;
    grid-row-start:1;

}

/* PARTIES AJOUTEES */
p.objetsite {
    background-color: black;
    color: white;
    display: inline-block;
    
    margin-top: -19px;
    padding: 8px 18px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16;
    
    }
    div.objetsite{
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: visible;
    }


/* FIN PARTIES AJOUTEES  */

.titre{
    grid-column-start: 2;
    grid-column-end:span 5;
    grid-row-start:1;
}
.recherche{
    grid-column-start: 7;
    grid-column-end:span 1;
    grid-row-start:1;
}
.membres{
    background: goldenrod;
    grid-column-start: 1;
    grid-column-end:span 1;
    grid-row-start:2;
}

.option1{
    grid-column-start: 2;
    grid-column-end:span 1;
    grid-row-start:2;
    font: bold;
}
.option2{
    grid-column-start: 3;
    grid-column-end:span 1;
    grid-row-start:2;
    font: bold;
}
.option3{
    grid-column-start: 4;
    grid-column-end:span 1;
    grid-row-start:2;
    font: bold;
}
.option4{
    grid-column-start: 5;
    grid-column-end:span 1;
    grid-row-start:2;
    font: bold;
}
.option5{
    grid-column-start: 6;
    grid-column-end:span 1;
    grid-row-start:2;
    font: bold;
}
.lesoffres{
    grid-column-start: 7;
    grid-column-end:span 1;
    grid-row-start:2;
}
.laconnexion{
    background: goldenrod;
    grid-column-start: 1;
    grid-column-end:span 1;
    grid-row-start:3;
}
.image1{
    grid-column-start: 2;
    grid-column-end:span 1;
    grid-row-start:3;
}
.image2{
    grid-column-start: 3;
    grid-column-end:span 1;
    grid-row-start:3;
}
.image3{
    grid-column-start: 4;
    grid-column-end:span 1;
    grid-row-start:3;
}
.image4{
    grid-column-start: 5;
    grid-column-end:span 1;
    grid-row-start:3;
}
.image5{
    grid-column-start: 6;
    grid-column-end:span 1;
    grid-row-start:3;
}
.lespartenaires{
    grid-column-start: 7;
    grid-column-end:span 1;
    grid-row-start:3;
}
.uncompte{
    background: goldenrod;
    grid-column-start: 1;
    grid-column-end:span 1;
    grid-row-start:4;
}
.lemessage{
    grid-column-start: 2;
    grid-column-end:span 5;
    grid-row-start:4;
}
.lesquestions{
    grid-column-start: 7;
    grid-column-end:span 1;
    grid-row-start:4;
   
}
.cartememebre{
    background: goldenrod;
    grid-column-start: 1;
    grid-column-end:span 1;
    grid-row-start:5;
}
.messageclient{
    grid-column-start: 2;
    grid-column-end:span 5;
    grid-row-start:5;
}
.lesnews{
    grid-column-start: 7;
    grid-column-end:span 1;
    grid-row-start:5;
}
.piedpage{
    grid-column-start: 1;
    grid-column-end:span 7;
    grid-row-start:6;
}
/*
.iframe{
    widows: 100%; ;
     border:2;
     height: 180px;
     width: 325px;
}
*/
iframe{
    width: 60%;
    border: 4px;
    height: 140px;
}
div.frame{
    width: 70%;
 margin: 10px 20px;
 padding: 2px 30px;
 background-color: white;
 box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.frame-title{
 font-size: 20px;
 text-align: center;
 margin-top: 5px;
 margin-bottom: 15px;
}


/* ECRAN REDUIT */

@media only screen and (max-width: 550px)
{
    .body{
        margin: 3px;
        padding: 2px;
        font-family: Arial;
        line-height: 1.5;
        background-color: #8BA1BB;
       
     }
     .grid{
         align-content: center;
        background-color: white; 
            margin: 2px 2px 2px 2px; 
            padding: 0px 1px 1px 1px;
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
            overflow: visible;
        border: solid 1px white;
        text-align: center;
    }
    .grid{
        grid-template-columns: 0.4fr 1fr;
        /*grid-template-rows: 1fr 1.2fr 5fr 2fr 8fr 1fr 1fr;*/
        /*/grid-template-rows: 0.2fr 0.5fr 0.5fr 0.5fr 0.5fr 4fr 0.5fr 4fr 0.5fr 4fr 0.5fr 4fr 0.5fr 4fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 5fr 0.5 0.5;*/
        grid-template-rows: auto;
        grid-auto-columns: 2px;
        grid-row-gap: 1px;
       
    }
 
iframe{
    width: 100%;
    border: none;
    height: 260px;
}
div.frame{
    width: 70%;
 margin: 10px 20px;
 padding: 2px 30px;
 background-color: white;
 box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.frame-title{
 font-size: 20px;
 text-align: center;
 margin-top: 5px;
 margin-bottom: 15px;
}
    /*  Les positionnements première colonne*/
    
    
    .titre{
        background: goldenrod;
        grid-column-start: 1;
        grid-column-end:span 2;
        grid-row-start:1;
    }

    .langues{
        background: goldenrod;
        grid-column-start: 1;
        grid-column-end:span 2;
        grid-row-start:2;
    }
   
    .recherche{
        grid-column-start: 1;
        grid-column-end:span 2;
        grid-row-start:3;
    }
    .lespartenaires{
        grid-column-start: 1;
        grid-column-end:span 2;
        grid-row-start:4;
    }
    .lesoffres{
        grid-column-start: 1;
        grid-column-end:span 2;
        grid-row-start:5;
    }
   
    
    .option1{
        background: beige;
        width: auto;
        height: auto;
        grid-column-start: 2;
        grid-column-end:span 1;
        grid-row-start:6;
        font: bold;
    }
    .image1{
        grid-column-start: 1;
        grid-column-end:span 1;
        grid-row-start:6;
    }
    .option2{
        grid-column-start: 2;
        grid-column-end:span 1;
        grid-row-start:7;
        font: bold;
    }
    .image2{
        width: auto;
        height: auto;
        grid-column-start: 1;
        grid-column-end:span 1;
        grid-row-start:7;
    }
    .option3{
        grid-column-start: 2;
        grid-column-end:span 1;
        grid-row-start:8;
        font: bold;
    }
    .image3{
        width: auto;
        height: auto;
         grid-column-start: 1;
        grid-column-end:span 1;
        grid-row-start:8;
    }
    .option4{
        grid-column-start: 2;
        grid-column-end:span 1;
        grid-row-start:9;
        font: bold;
    }
    .image4{
        width: auto;
        height: auto;
        grid-column-start: 1;
        grid-column-end:span 1;
        grid-row-start:9;
    }
    .option5{
        grid-column-start: 2;
        grid-column-end:span 1;
        grid-row-start:10;
        font: bold;
    }
    .image5{
        width: auto;
        height: auto;
        grid-column-start: 1;
        grid-column-end:span 1;
        grid-row-start:10;
    }
    .membres{
        background: goldenrod;
        grid-column-start: 1;
        grid-column-end:span 2;
        grid-row-start:11;
    }
    .laconnexion{
        background: goldenrod;
        grid-column-start: 1;
        grid-column-end:span 2;
        grid-row-start:12;
    }
  
    .uncompte{
        background: goldenrod;
        grid-column-start: 1;
        grid-column-end:span 2;
        grid-row-start:13;
    }
    .cartememebre{
        background: goldenrod;
        grid-column-start: 1;
        grid-column-end:span 2;
        grid-row-start:14;
    }

    .lesquestions{
        grid-column-start: 1;
        grid-column-end:span 2;
        grid-row-start:15;
    }
    .lemessage{
        background-color: goldenrod;
        grid-column-start: 1;
        grid-column-end:span 2;
        grid-row-start:16;
    }
  
    .messageclient{
        grid-column-start: 1;
        grid-column-end:span 2;
        grid-row-start:17;
    }
    .lesnews{
        grid-column-start: 1;
        grid-column-end:span 2;
        grid-row-start:18;
    }
    .piedpage{
        grid-column-start: 1;
        grid-column-end:span 2;
        grid-row-start:19;
    }
}
    
   
   

